{% extends 'home/base.html' %}
{% load static %}
{% block info_films %}
<main id="main-contents" class="col-xs-12 col-sm-12 col-md-8 p-2">
    <!-- Film info -->
    <div class="row my-3">
        <div class="col-md-3">
            <div class="card p-3" style="height: 100%">
                <img src="/media/{{film_cm.hinhanh}}" alt="{{film_cm.title}}" style="height: 100%; width: 100%;">
            </div>
        </div>
        <div class="col-md-9">
            <table class="table" style="height: 100%">
                <tbody>
                    <tr>
                        <td class="fw-bold align-middle text-left" style="width:30%">Tên</td>
                        <td class="align-middle text-left">{{film_cm.title}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold align-middle text-left">Tên khác</td>
                        <td class="align-middle text-left">{{film_cm.sub_title}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold align-middle text-left">Thể loại</td>
                        <td class="align-middle text-left">{{film_cm.theloai}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold align-middle text-left">Tập mới nhất</td>
                        <td class="align-middle text-left">{{film_cm.latest_episode}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold align-middle text-left">Thông tin khác</td>
                        <td class="align-middle text-left"><i class="bi bi-calendar3"></i> {{film_cm.get_year}}  <i class="bi bi-clock"></i> {{total_tapfilm}} Tập</h4></td>
                    </tr>
                    <tr>
                        <td class="fw-bold align-middle text-left my-0">Đánh giá</td>
                        <td class="align-middle text-left py-0">
                            {% if average_rating %}
                                <i class="bi bi-star-fill" style="color: orange; font-size: 30px">{{ average_rating|floatformat:"1" }}</i>/5 ({{ total_votes }} lượt)
                            {% else %}
                                <i class="bi bi-star-fill" style="color: orange; font-size: 30px">0</i>/5 (0 lượt)
                            {% endif %}
                            <div id="rating-stars" style="display: inline-block;">
                                <form method="post" action="{% url 'home:rate_film' film_cm.id %}">
                                    {% csrf_token %}
                                    {% for star_value in "12345" %}
                                        {% if star_value|add:"0" <= average_rating %}
                                            <button class="btn-star" type="submit" name="rating" value="{{ star_value }}" style="background-color: transparent; border: none;"><i class="bi bi-star-fill" style="color: orange;"></i></button>
                                        {% else %}
                                            <button class="btn-star" type="submit" name="rating" value="{{ star_value }}" style="background-color: transparent; border: none;"><i class="bi bi-star" style="color: orange;"></i></button>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                            </div>
                        </td>
                    </tr>                                                                            
                </tbody>
            </table>
        </div>
    </div>
    <!-- end film info -->

    <!-- 2 nut button-->
    <div class="d-flex justify-content-between p-1 my-3" style="border: 1px solid; color: lightgray; border-radius: 5px;">
        <div style="display: inline-block;">
            <a href="{% url 'home:movie' film_cm.latest_episode_id%}" class="text-decoration-none">
                <button class="btn btn-primary" type="button"><i class="bi bi-play-circle"></i> Xem phim</button>
            </a>
        </div>
        <div style="display: inline-block;">
            <form method="post" action="{% url 'home:toggle_follow' film_cm.id %}">
                {% csrf_token %}
                {% if film_cm.follow %}
                    <button class="btn btn-secondary" type="submit"><i class="bi bi-bookmark-fill"></i> Hủy Theo Dõi</button>
                {% else %}
                    <button class="btn btn-primary" type="submit"><i class="bi bi-bookmark-fill"></i> Theo Dõi</button>
                {% endif %}
            </form>
        </div>
    </div>
    
    
    
    <!-- 2 nut button -->

    <!-- search tap film -->
    <div class="container align-middle ">
        <p style="font-size: 13px; font-weight: bold; margin: 1px"><i class="bi bi-search"></i> TÌM TẬP NHANH <i class="bi bi-chevron-down"></i></p>
        <input type="text" name="episode" placeholder="Nhập số tập" style="width:18%">
    </div>  
    <!-- end search tap film -->

    <!-- list tap film -->
    <div class="d-grid gap-2 d-md-block mx-2 my-4 p-2" style="border: 1px solid; border-radius: 5px">
        {% for episode in all_episodes %}
            <a href="{% url 'home:movie' id=episode.id %}">
                <button class="btn btn-primary" style="margin:1px" type="button">{{ episode.tentap }}</button>
            </a>
        {% endfor %}
    </div>
    
    
    <!-- list tap film -->
    
    <!-- lich chieu phim -->
    <div class="container align-middle" style="border: 1px solid; border-radius:5px">
        <p style="margin-bottom:7px"><i class="bi bi-calendar-date" style="font-size:22px"></i> <b>Phim Chiếu 1 Tập Vào Trưa</b>    <b>Thứ 5</b></p>
    </div>
    <!-- lich chieu phim -->

    <!-- GioiThieu Film -->
    <div class="card my-4">
        <h5 class="card-header">NỘI DUNG PHIM</h5>
        <div class="card-body">
          <p class="card-text">{{film_cm.gioithieu}}</p>   
        </div>
    </div>
    <!-- end GioiThieu Film -->
    
    <!-- comment -->
    <div class="container-comment my-5">
        <form method="post" action="{% url 'home:post_comment' film_cm.id %}">
            {% csrf_token %}
            <div class="row align-items-center">
                <div class="col-md-1">
                    <img src="{% if request.user.userprofile.avatar %}{{ request.user.userprofile.avatar.url }}{% else %}{% static 'image/thach_hao.ico'%}{% endif %}" class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover; position: relative;" alt="Avatar" />
                </div>
                <div class="col-md-9 align-items-start mx-0">
                    <textarea class="form-control" name="comment" required placeholder="Tham gia bình luận"></textarea>
                    <!-- Trường ẩn cho created_at -->
                    <input type="hidden" name="created_at" value="{{ current_time }}">
                </div>
                <div class="col-md-2 align-items-end ">
                    <input type="submit" style="width: 70%" class="btn btn-primary btn-block" value="Gửi" />
                </div>
            </div>
        </form>        
    </div>        
    
    
    <p class="border-bottom pb-1 my-5 mx-3">{{ total_comments }} BÌNH LUẬN <a href="#" class="float-right btn btn-sm btn-dark">Mới Nhất</a></p>
    <div class="container"> 
        {% for comment in comments %}
        <div class="comment" style="margin-bottom: 10px;">
            <div class="row align-items-center" style="height: 100px;">
                <div class="col-md-1" style="display: flex; justify-content: center; align-items: center;">
                    <img src="{% if comment.user_profile.avatar %}{{ comment.user_profile.avatar.url }}{% else %}{% static 'image/default_avatar.png' %}{% endif %}" class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover;" alt="Avatar">
                </div>  
                <div class="col-md-10" style="border: 1px solid; border-radius: 10px;">
                    <div class="row align-items-center" style="height: 30px;">
                        <div class="col-md-6" style="color: lightgreen; font-weight: bold; font-size: 18px;">
                            <p>{% if comment.user_profile.nickname %}{{ comment.user_profile.nickname }}{% else %}{{ comment.user_profile.account_name }}{% endif %}</p>
                        </div>
                        <div class="col-md-6 text-right" style="font-size: 12px; color: lightgray;">
                            <p>{{ comment.created_at|timesince }} trước</p>
                        </div>
                    </div>
                    <p class="mx-1">{{ comment.comment }}</p>
                    <div class="row align-items-center" style="font-size: 12px;">
                        <div class="col-md-11">
                            <i class="bi bi-hand-thumbs-up" style="font-size: 14px;"> 0 </i>   
                            <i class="bi bi-reply-fill" style="margin-left: 15px; font-size: 14px;"> Phản hồi </i> 
                        </div>
                    </div>                                       
                </div>
            </div>
        </div>        
        {% empty %}
        <p>Chưa có bình luận nào.</p>
        {% endfor %}
        <div class="pagination d-flex justify-content-center my-5">
            <span class="step-links">
                {% if comments.has_previous %}
                    <a href="?page=1" class="btn btn-sm btn-outline-secondary">&laquo; 1</a>
                    <a href="?page={{ comments.previous_page_number }}" class="btn btn-sm btn-outline-secondary">&lsaquo; {{ comments.previous_page_number }}</a>
                {% endif %}
                <span class="current">Page {{ comments.number }} of {{ comments.paginator.num_pages }}</span>
                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}" class="btn btn-sm btn-outline-secondary">{{ comments.next_page_number }} &rsaquo;</a>
                    <a href="?page={{ comments.paginator.num_pages }}" class="btn btn-sm btn-outline-secondary">{{ comments.paginator.num_pages }} &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</main>

{% endblock %}