{% extends 'home/base.html'%}
{% load static %}
{% block dangchieu %}
<main id="main-contents" class="col-xs-12 col-sm-12 col-md-8 p-2" >
    <div class="container mt-3 mb-5">
        <h4 class="border-bottom pb-1">Phim đang chiếu <a href="#" class="float-right btn btn-sm btn-dark">Tất cả</a></h4>
        <div class="row my-4">
            {% if last_list %}
            {% for film in last_list %}
            <div class="col-md-3 my-3">
                <div class="card mb-3 shadow custom-card">
                  <img src="{{ film.hinhanh.url }}" class="card-img-top" alt="{{ film.title }}">
                  <div class="card-body d-flex flex-column justify-content-center p-1">
                    <h6 class="card-title text-center " style="height:30px; margin-top:0px;margin-bottom:0px">{{ film.title }}</h6>
                    <p class="card-title text-center " style="height:30px; margin-top:5px;margin-bottom:0px; font-size: 13px; font-style:italic">{{ film.sub_title }}</p>
                    <hr class="m-2 p-0">
                    <p class="card-text px-5"><a href="{% url 'home:info_films' film.id %}" class="btn btn-sm btn-primary mx-3">Xem ngay</a></p>
                  </div>
                </div>
              </div>
            {% endfor %}
        {% else %}
            <h5 style="color:red; font-weight: bold">Hiện chưa cập nhật phim đang chiếu!!!</h5>
        {% endif %}
        </div>
    </div>
</main>
{% endblock %}